.search-container {
  width: 95%;
  margin: 1em 0;
}

.search-container div {
  display: flex;
  flex-direction: row;
  padding: 0.5% 2%;
  background-color: #f8dede;
  border-radius: 30px;
}

.search-container img {
    margin: 1.25%;
}

.search-container input{
    width: 100%;
}