@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input {
  font: inherit;
  border: none;
  background: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #404040;
  min-height: 100vh;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  background: #ff1510;
  height: 2em;
}
